<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href = "http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">

{% block current_app_content %}
    <div class="container">
        <div class="card-body justify-content-center">
            <div class="logo">
                <a href="{{ url_for('main.index') }}"><img
                        src="{{ url_for('static', filename='img/cart/HKTVlogo.png') }}" class="round"
                        title="HKTVmalllogo_20171220.png" alt="HKTVmalllogo_20171220.png"></a>
            </div>
        </div>
        {% if count == 0 %}
            <h1>Shopping Cart 0 items</h1><br/>
            <h2>Your shopping cart is empty. Shop Your Favourites Now</h2><br/>
            <a class="btn btn-success btn-lg" href="{{ url_for('main.index') }}" role="button">Shop now</a>
        {% else %}
            <div class="container row">
                <div class="col-md-8 justify-content-start">
                {% for item in ccart %}
                    <form name="update" method="post">
                    <input type="hidden" id="prodid" name="prodid" value="{{ item.pid }}">
                    <input type="hidden" id="prodprice" name="prodprice" value="{{ item.price }}">
                    <div class="row">
                        <div class="col-md-1"><a href="{{ url_for('main.cart_del', prodid=item.pid) }}">
                            <span class="glyphicon glyphicon-remove"></span></a></div>
                        <div class="col-md-2"><a href="#"><img src="https://picsum.photos/70/70"/></a></div>
                        <div class="col-md-4">{{ item.pname }}</div>
                        <div class="col"></div>
                        <div class="col-md-2 justify-content-end">{{ item.price }}</div>
                        <div class="col-md-2 justify-content-end">
                            <select id="quantity" name="quantity" onchange="this.form.submit();">
                                <option value="1"{% if item.qty==1 %}selected="selected"{% endif %}>1</option>
                                <option value="2"{% if item.qty==2 %}selected="selected"{% endif %}>2</option>
                                <option value="3"{% if item.qty==3 %}selected="selected"{% endif %}>3</option>
                                <option value="4"{% if item.qty==4 %}selected="selected"{% endif %}>4</option>
                                <option value="5"{% if item.qty==5 %}selected="selected"{% endif %}>5</option>
                                <option value="6"{% if item.qty==6 %}selected="selected"{% endif %}>6</option>
                                <option value="7"{% if item.qty==7 %}selected="selected"{% endif %}>7</option>
                                <option value="8"{% if item.qty==8 %}selected="selected"{% endif %}>8</option>
                                <option value="9"{% if item.qty==9 %}selected="selected"{% endif %}>9</option>
                                <option value="10"{% if item.qty==10 %}selected="selected"{% endif %}>10</option>
                            </select>
                        </div>
                    </div>
                    </form>
                {% endfor %}
                </div>
                <div class="col-md-4 justify-content-end border border-success">
                    <div class="row"></div>
                        <div class="col-md-12">Total Price</div>
                        <div class="col-md-12">{{ sum }}</div>
                    <div class="col-lg-10 justify-content-center">
                        <a type="button" class="btn btn-success" href="{{ url_for('main.confirmed') }}">Checkout</a>
                    </div>
                </div>
            </div>
    </div>
        {% endif %}

{% endblock %}