{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <head>
    <link rel="stylesheet" href="index.css">
    </head>
    <!-- Slider1 -->
    <div class="justify-content-center container">
            <div class="col-sm-12">
                <div id="slider1" class="carousel slide" data-ride="carousel">
                    <!-- nav indicator -->
                    <ol class="carousel-indicators">
                        <li data-target="#slider1" data-slide-to="0" class="active"></li>
                        <li data-target="#slider1" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://picsum.photos/918/425" alt="" class="center-block"/>
                        </div>
                        <div class="item">
                            <img src="https://picsum.photos/918/426" alt="" class="center-block"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Banner - QR Code -->
    <div style="background-color:#b8d201">
        <div class="justify-content-center container">
            <div class="col-8">
                <a href="#"><img src="https://picsum.photos/1188/50" alt="" style="width: 100%; height: auto" class="center-block"/></a>
            </div>
        </div>
    </div>
    <!-- Banner - fight together with you -->
    <div class="justify-content-center " style="background-color: rgb(254, 195, 93);">
        <div class="col-8 container">
            <a href="#"><img src="https://picsum.photos/1188/222" alt="" style="width: 100%; height: auto" class="center-block"/></a>
        </div>
    </div>
    <!-- Slider2 - Slogan -->
    <div style="background-color: rgb(255, 216, 175);">
    <div class="justify-content-center container">
            <div class="col-sm-12">
                <div id="slider2" class="carousel slide justify-content-center" data-ride="carousel">
                    <!-- wrapper -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row justify-content-center">
                                <div class="col-sm-2"><img src="https://picsum.photos/183/95" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/96" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/97" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/98" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/99" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/100" alt="" class="center-block" /></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-sm-2"><img src="https://picsum.photos/184/95" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/185/96" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/186/97" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/187/98" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/188/99" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/189/100" alt="" class="center-block" /></div>
                            </div>
                        </div>
                    </div>
                <a class="carousel-control-prev" href="#slider2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

                </div>
            </div>
        </div>
    <!-- Banner - holiday -->
    <div class="justify-content-center container">
        <div class="col-8">
            <a href="#"><img src="https://picsum.photos/1188/95" alt="" class="center-block"/></a>
        </div>
    </div>
    <!-- Slider3 - Small -->
    <div id="slider3" class="carousel slide justify-content-center container" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slider3" data-slide-to="0" class="active"></li>
            <li data-target="#slider3" data-slide-to="1"></li>
            <li data-target="#slider3" data-slide-to="2"></li>
            <li data-target="#slider3" data-slide-to="3"></li>
            <li data-target="#slider3" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                </div>
            </div>
            <div class="item">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                </div>
            </div>
            <div class="item">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                </div>
            </div>
            <div class="item">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                </div>
            </div>
            <div class="item">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img src="https://picsum.photos/300/300" alt="" class="center-block" /></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slider3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <div style="background-color: rgb(234, 115, 115);">
    <!-- Banner - Stay home -->
    <div class="justify-content-center container">
            <div class="col-8">
                <a href="#"><img src="https://picsum.photos/1188/50" alt="" style="width: 100%; height: auto" class="center-block"/></a>
            </div>
        </div>
    <!-- Catalogue - Health Product -->
    <div class="row justify-content-center container center-block" style="background-color: white;">
        <div class="col-md-3" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/273/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted Price</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/273/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted Price</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/273/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted Price</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-3" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/273/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted Price</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-2" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/176/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-2" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/176/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-2" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/176/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-2" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/176/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-2" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/176/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted</h2>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-2" style="background-color: rgb(255, 216, 175);">
            <figure class="figure">
                <img src="https://picsum.photos/176/190" class="figure-img img-fluid rounded" alt=""/>
                <figcaption class="figure-caption">
                    <h3>Product Name</h3><br/>
                    <h5>Original Price</h5><br/>
                    <h2>Discounted</h2>
                </figcaption>
            </figure>
        </div>
    </div>
    </div>
    <!-- Slider - Health Product -->
            <div class="w-100"></div>
            <!-- Grid - Health Product -->
            <div class="w-100"></div>
            <!-- Grid - Top100 Product -->
            <div class="w-100"></div>
            <!-- Slider - Health Suggestion -->
            <div class="w-100"></div>
            <!-- Slider - Comment -->
            <div class="w-100"></div>
            <!-- Slider - Hit Brand -->
            <div class="w-100"></div>
            <!-- Slider - Promoting Brand -->
            <div class="w-100"></div>
            <!-- Slider - Suggesting Product -->
            <div class="w-100"></div>
            <!-- Banner - Health Product -->
            <div class="w-100"></div>
            <!-- Slider - weekly suggestion -->
            <div class="w-100"></div>
            <!-- Slider*15 - All health product sub-category -->
            <div class="w-100"></div>




{% endblock %}