{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <!-- Slider1 -->
            <div class="bg_change">
                <div id="slider1" class="carousel slide" data-ride="carousel" style="width: 100vw; margin-top:-40px;">
                    <!-- nav indicator -->
                    <ol class="carousel-indicators">
                        <li data-target="#slider1" data-slide-to="0" class="active"></li>
                        <li data-target="#slider1" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox" id="main_slider">
                        <div class="item active" style="background-color: rgb(253,194,93);">
                            <img src="{{ url_for('static', filename='img/index/slider1p1.jpg') }}" alt="" class="center-block"/>
                        </div>
                        <div class="item" style="background-color: rgb(189,218,57);">
                            <img src="{{ url_for('static', filename='img/index/slider1p2.jpg') }}" alt="" class="center-block"/>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Banner - QR Code -->
    <div style="background-color:#b8d201">
        <div class="justify-content-center container">
            <div class="col-8">
                <a href="#"><img src="{{ url_for('static', filename='img/index/banner1.jpg') }}" alt="" style="width: 100%; height: auto" class="center-block"/></a>
            </div>
        </div>
    </div>
    <!-- Banner - fight together with you -->
    <div class="justify-content-center " style="background-color: rgb(254, 195, 93);">
        <div class="col-8 container">
            <a href="#"><img src="https://images.hktvmall.com/banner/banneren_200414091824.jpg" alt="" style="width: 100%; height: auto" class="center-block"/></a>
        </div>
    </div>
    <!-- Slider2 - Slogan -->
    <div style="background-color: rgb(255, 216, 175);">
    <div class="justify-content-center container">
            <div class="col-sm-12">
                <div id="slider2" class="carousel slide justify-content-center" data-ride="carousel">
                    <!-- wrapper -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row justify-content-center">
                                <div class="col-sm-2"><img src="https://picsum.photos/183/95" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/96" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/97" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/98" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/99" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/183/100" alt="" class="center-block" /></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-sm-2"><img src="https://picsum.photos/184/95" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/185/96" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/186/97" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/187/98" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/188/99" alt="" class="center-block" /></div>
                                <div class="col-sm-2"><img src="https://picsum.photos/189/100" alt="" class="center-block" /></div>
                            </div>
                        </div>
                    </div>
                <a class="carousel-control-prev" href="#slider2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

                </div>
            </div>
        </div>
    <!-- Banner - holiday -->
    <div class="justify-content-center container">
        <div class="col-8">
            <a href="#"><img src="https://images.hktvmall.com/store_content/bannerpcen_200408101128.jpg" alt="" class="center-block" style="max-width:1188px; height:auto;"/></a>
        </div>
    </div>
    <!-- Slider3 - Small -->
    <div id="slider3" class="carousel slide justify-content-center container" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#slider3" data-slide-to="0" class="active"></li>
            <li data-target="#slider3" data-slide-to="1"></li>
            <li data-target="#slider3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_200408123449.jpg" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_200316064530.jpg" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_200313052630.jpeg" alt="" class="center-block" /></div>
                </div>
            </div>
            <div class="item">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_200409052417.jpg" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_200306102733.jpg" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_200403113837.jpeg" alt="" class="center-block" /></div>
                </div>
            </div>
            <div class="item">
                <div class="row justify-content-center">
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_190823025642.jpg" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_190927032727.jpg" alt="" class="center-block" /></div>
                    <div class="col-sm-4"><img style="max-width:300px; height:auto;" src="https://images.hktvmall.com/store_content/banneren_191120022830.jpg" alt="" class="center-block" /></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slider3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <div style="background-color: rgb(234, 115, 115);">
    <!-- Banner - Stay home -->
    <div class="justify-content-center container">
            <div class="col-8">
                <a href="#"><img src="https://picsum.photos/1188/50" alt="" style="width: 100%; height: auto" class="center-block"/></a>
            </div>
        </div>
    <!-- Catalogue - Health Product -->
    <div class="row justify-content-center container center-block" style="background-color: white;">
        {% for product in prod %}
            {% if loop.index <= 4 %}
                <div class="col-md-3" style="background-color: rgb(255, 216, 175); height:422px;">
                    <figure class="figure">
                        <img src="{{ product.link }}" class="figure-img img-fluid rounded" alt="", width="250px", height="200px"/>
                        <figcaption class="figure-caption">
                            <h3>{{ product.pname }}</h3>
                            <h5>{{ product.price + 20 }}</h5>
                            <h2>HKD ${{ product.price }}</h2>
                            <input type="hidden" name="pid" value="{{ product.pid }}" />
                            <a class="btn btn-success" href="{{ url_for('main.add_to_cart', prod_id=product.pid ) }}" role="button">Add to Cart</a>
                            <a class="btn btn-success" href="{{ url_for('main.add_list', pid=product.pid ) }}" role="button">follow</a>
                            {% if current_user.id == 0 %}
                                <br><br>
                                <a class="btn btn-success" href="{{ url_for('main.edit_product', pid=product.pid ) }}" role="button">Edit</a>
                                <a class="btn btn-success" href="{{ url_for('main.delete_product', pid=product.pid ) }}" role="button">Delete</a>
                            {% endif %}
                        </figcaption>
                    </figure>
                </div>
            {% endif %}
        {% endfor %}
        {% for product in prod %}
            {% if loop.index > 4 %}
                <div class="col-md-2" style="background-color: rgb(255, 216, 175); height:422px;">
                    <figure class="figure">
                        <img src="{{ product.link }}" class="figure-img img-fluid rounded" alt="", style="width:175px; height:175px;"/>
                        <figcaption class="figure-caption">
                            <h4>{{ product.pname }}</h4>
                            <h6>{{ product.price + 20 }}</h6>
                            <h3>HKD ${{ product.price }}</h3>
                            <input type="hidden" name="pid" value="{{ product.pid }}" />
                            <a class="btn btn-success" href="{{ url_for('main.add_to_cart', prod_id=product.pid ) }}" role="button">Add to Cart</a>
                            <a class="btn btn-success" href="{{ url_for('main.add_list', pid=product.pid ) }}" role="button">follow</a>
                            {% if current_user.id == 0 %}
                                <br><br>
                                <a class="btn btn-success" href="{{ url_for('main.edit_product', pid=product.pid ) }}" role="button">Edit</a>
                                <a class="btn btn-success" href="{{ url_for('main.delete_product', pid=product.pid ) }}" role="button">Delete</a>
                            {% endif %}
                        </figcaption>
                    </figure>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <!-- Slider - Health Product -->
            <div class="w-100"></div>
            <!-- Grid - Health Product -->
            <div class="w-100"></div>
            <!-- Grid - Top100 Product -->
            <div class="w-100"></div>
            <!-- Slider - Health Suggestion -->
            <div class="w-100"></div>
            <!-- Slider - Comment -->
            <div class="w-100"></div>
            <!-- Slider - Hit Brand -->
            <div class="w-100"></div>
            <!-- Slider - Promoting Brand -->
            <div class="w-100"></div>
            <!-- Slider - Suggesting Product -->
            <div class="w-100"></div>
            <!-- Banner - Health Product -->
            <div class="w-100"></div>
            <!-- Slider - weekly suggestion -->
            <div class="w-100"></div>
            <!-- Slider*15 - All health product sub-category -->
            <div class="w-100"></div>




{% endblock %}