{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block current_app_content %}
    <div class="justify-content-center container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="{{ url_for('main.mylist') }}" class="list-group-item list-group-item-action active">Wishlist</a>
                    <a href="#" class="list-group-item list-group-item-action">Purchased items</a>
                    <a href="#" class="list-group-item list-group-item-action">Recently view</a>


                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="container row">
                                    <div class="col-md-8 justify-content-start">
                                        <p>{{ _('Wishlist') }}</p>

                                        {% for mylist in item %}
                                            <div class="row">
                                                <div class="col-md-2"><a href="#"><img
                                                        src="{{ mylist.link }}" , width="70px" , height="70px"></a>
                                                </div>
                                                <div class="col-md-4">{{ mylist.name }}</div>
                                                <div class="col"></div>
                                                <div class="col-md-2 justify-content-end">{{ mylist.price }}</div>
                                                <div class="col-md-2 justify-content-end">
                                                    <button onclick="location.href='{{ url_for('main.del_list', id=mylist.id) }}';">
                                                        <span>{{ _('Delete') }}</span>
                                                    </button>


                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                        {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}