{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}

    <h1>{{ _('Sign In')}}</h1>


    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>

    <p>Switch Phone Number Login? <a href="{{ url_for('auth.phone_login') }}">Click to Phone Number Login!</a></p>
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a> </p>

    <p>New to HKTVmall?</p>
    <p>Create an account to enjoy shopping<a href="{{ url_for('auth.register') }}">Click to Register!</a> </p>


    <p>
        Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
    </p>
{% endblock %}
