{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}


 <div class="container">

    <h1>{{ _('Sign In')}}</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>

    <p>Switch Phone Number Login? <a href="{{ url_for('auth.phone_login') }}">Click to Phone Number Login!</a></p>

    <p>
        Forgot Your Password?
    <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
    </p>

 </div>

{% endblock %}
